<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="center-form">
            <h2>Log In</h2>
            <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
            <label class="indicator">E-mail address</label>
            <input type="email" formControlName="email">
            <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors" class="error">
                <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required!</div>
                <div *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format!</div>
            </div>
            <label class="indicator">Password</label>
            <input type="password" formControlName="password">
            <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors" class="error">
                <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required!</div>
            </div>
        </div>
            <a href="#">Forgot password?</a>
            <div class="remember">
                <input type="checkbox" id="remember">
                <label for="remember">Keep me logged in</label>
            </div>
        <div class="center-form">
            <button type="submit" [disabled]="loginForm.invalid || isLoading">{{ isLoading ? 'Logging in...' : 'Login' }}</button>
            <div class="google-btn" (click)="authService.loginWithGoogle()">
                <img src="assets/logos/google logo.png">
                <p>Continue with Google</p>
            </div>
        </div>
    
        <div class="register-link">
            Don't have an account? <a routerLink="/register">Register here</a>
        </div>
    </form>
</div>