<div class="login-container">
    <div class="center">
        <h2>Log In</h2>
        <label class="indicator">E-mail address</label>
        <input type="text">
        <label class="indicator">Password</label>
        <input type="password">
    </div>
        <a href="#">Forgot password?</a>
        <div class="remember">
            <input type="checkbox" id="remember">
            <label for="remember">Keep me logged in</label>
        </div>
    <div class="center">
        <button>Log In</button>
        <div class="google-btn">
            <img src="assets/logos/google logo.png">
            <p>Continue with Google</p>
        </div>
    </div>
</div>