#book-details {
    font-family: roboto;
}

.more-info-container {
    width: 100%;
}

.more-info {
    background-color: #FFE7B1;
    width: 100%;
    font-family: roboto;
    display: inline-block;
}

.more-info h3 {
    margin-left: 20px;
}