<div class="filters-container">
    <div class="filter-category" *ngFor="let category of categories">
        <button
            class="btn-toggle"
            (click)="toggleInput(category.key)"
            [class.active]="visibleInputs[category.key]"
        >
        {{ category.label }}
        </button>

        <div class="filter-input" *ngIf="visibleInputs[category.key]">
            <input
                type="text"
                #newFilterInput
                (keyup.enter)="addFilter(category.key, newFilterInput.value)"
            >
            <button
                class="btn-add"
                (click)="addFilter(category.key, newFilterInput.value)"
            >
            Add
            </button>
        </div>

        <div class="selectedFilters" *ngIf="selectedFilters.get(category.key)?.size">
            <div class="filter-chip" *ngFor="let value of selectedFilters.get(category.key)">
                {{ value }}
                <button class="btn-remove" (click)="removeFilter(category.key, value)">
                    &times;
                </button>
            </div>
        </div>
    </div>
</div>