<div class="filters-container">
    <h3>Filter Options</h3>
    <div class="filters-section">
        <h4>Author</h4>
        <ul>
            <li><input type="checkbox" id="author1">Author 1</li>
            <li><input type="checkbox" id="author2">Author 2</li>
        </ul>
    </div>
    <div class="filters-section">
        <h4>Genre</h4>
        <ul>
            <li><input type="checkbox" id="author1">Genre 1</li>
            <li><input type="checkbox" id="author2">Genre 2</li>
        </ul>
    </div>
    <div class="filters-section">
        <h4>Year</h4>
        <ul>
            <li><input type="checkbox" id="author1">Year 1</li>
            <li><input type="checkbox" id="author2">Year 2</li>
        </ul>
    </div>
    <div class="filters-section">
        <h4>Language</h4>
        <ul>
            <li><input type="checkbox" id="author1">Language 1</li>
            <li><input type="checkbox" id="author2">Language 2</li>
        </ul>
    </div>
</div>