/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    background-color: #fffaef;
}

@font-face {
    font-family: robotoMono;
    src: url(/assets/fonts/RobotoMono-VariableFont_wght.ttf);
}