<div *ngIf="isLoading" class="loading-spinner">
    Loading book...
</div>

<div *ngIf="error" class="error-message">
    {{ error }}
</div>

<ngx-extended-pdf-viewer 
    *ngIf="book?.filePath && !isLoading && !error"
    (pageChange)="onPageChange($event)"
    (pagesLoaded)="restorePosition()"
    [src]="book!.filePath"
    [page]="currentPageNumber"
    [showSecondaryToolbarButton]="true"
    [showSidebarButton]="true"
    [showRotateButton]="false"
    [showTextEditor]="false"
    [showHandToolButton]="false"
    [showOpenFileButton]="false"
    [showBookModeButton]="true"
    [showDownloadButton]="false"
    [showPrintButton]="false"
    [textLayer]="false"
    [enableDragAndDrop]="false"
    [enablePrint]="false"
    [contextMenuAllowed]="false"
    height="100vh"
    class="no-selection prevent-context-menu cursor-pointer">
</ngx-extended-pdf-viewer>