<div class="register-container">
    <div class="center-form">
        <h2>Register new account</h2>
        <label class="indicator">E-mail address</label>
        <input type="text">
        <label class="indicator">Profile name</label>
        <input type="text">
        <label class="indicator">Password</label>
        <input type="password">
        <label class="indicator">Confirm password</label>
        <input type="password">
        <button>Register</button>
        <div class="google-btn">
            <img src="assets/logos/google logo.png">
            <p>Continue with Google</p>
        </div>
    </div>
</div>