<div class="book-container" *ngIf="!isLoading">
    <div class="book-cover">
        <img [src]="book.coverImage" [alt]="book.title">
        <div class="book-actions">
            <button id="read" (click)="readBook()">Read</button>
            <div *ngIf="showUserActions">
                <div class="wishlist" *ngIf="!isBookMarkedAsRead">
                    <button [id]="wishlistButtonId" *ngIf="book.userId !== authService.userId" (click)="addOrRemoveFromWishlist()">
                        <p *ngIf="!isBookInWishlist; else remove">
                            Add to wishlist
                        </p>
                        <ng-template #remove>
                            Remove from wishlist
                        </ng-template>
                    </button>
                </div>
                <button [id]="markAsReadButtonId" *ngIf="book.userId !== authService.userId" (click)="markOrUnmarkAsRead()">
                    <p *ngIf="!isBookMarkedAsRead; else remove">
                        Mark as read
                    </p>
                    <ng-template #remove>
                        Unmark as read
                    </ng-template>
                </button>
                <button id="normal-button" *ngIf="book.userId === authService.userId" (click)="editBook()">Edit book details</button>
                <button id="delete" *ngIf="book.userId === authService.userId" (click)="confirmDeletion()">Delete book</button>
            </div>
        </div>
    </div>
    <div class="book-description">
        <h2>{{ book.title }}</h2>
        <p>{{ book.description }}</p>
        <div class="book-details">
            <div class="center-info">
                <span class="detail-item">
                    <span class="detail-label">{{ book.author }}</span>
                    <span class="detail-type">Author</span>
                </span>
                <span class="detail-item">
                    <span class="detail-label">{{ book.publisher }}</span>
                    <span class="detail-type">Publisher</span>
                </span>
                <span class="detail-item">
                    <span class="detail-label">{{ getYearOfDate(book.publishDate) }}</span>
                    <span class="detail-type">Publish Date</span>
                </span>
                <span class="detail-item">
                    <span class="detail-label">{{ book.genre }}</span>
                    <span class="detail-type">Genre</span>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="more-info">
    <h3>Uploaded by: <a href="{{ userService.getUploaderProfilePage(book.userId) }}" class="username-link">{{ uploaderName }}</a></h3>
    <h3>More about the author</h3>
    <p>{{ book.moreAboutAuthor }}</p>
</div>